<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>ServletContextApp</display-name>
	<context-param>
		<param-name>jdbcUrl</param-name>
		<param-value>jdbc:mysql:///fullstackjavadeveloper</param-value>
	</context-param>
	<context-param>
		<param-name>user</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>cdac</param-value>
	</context-param>



	<servlet>
		<description></description>
		<display-name>TestServlet</display-name>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>in.ineuron.controller.TestServlet</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>


	<servlet>
		<description></description>
		<display-name>DispController</display-name>
		<servlet-name>DispController</servlet-name>
		<servlet-class>in.ineuron.controller.DispController</servlet-class>
		<load-on-startup>6</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DispController</servlet-name>
		<url-pattern>/disp</url-pattern>
	</servlet-mapping>
</web-app>